<mat-card class="card">
  <mat-card-title>{{loggedUser.username}}</mat-card-title>
  <mat-card-subtitle>{{rol}}</mat-card-subtitle>
  <mat-card-actions>
    <button mat-raised-button (click)="logout()" class="logou">
      Logout
    </button>
  </mat-card-actions>
</mat-card>

<app-child [messageFromParent]="parentMessage" (messageFromChild)="receiveMessage($event)"></app-child>

<div class="container">
  <h2 class="titlu">
    Available games:
  </h2>
  <table mat-table [dataSource]="games" class="mat-elevation-z8 demo-table table">

    <ng-container matColumnDef="Game">
      <th mat-header-cell *matHeaderCellDef class="titl"><i>Name</i></th>
      <td mat-cell *matCellDef="let element" class="ele">{{element.gameName}}</td>
    </ng-container>

    <ng-container matColumnDef="Creator">
      <th mat-header-cell *matHeaderCellDef class="titl"><i>Creator</i></th>
      <td mat-cell *matCellDef="let element" class="ele">{{element.creatName}}</td>
    </ng-container>

    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef ><i>Edit</i></th>
      <td mat-cell *matCellDef="let element" class="ele" (click)="editGame(element)"><mat-icon>subject</mat-icon></td>
    </ng-container>

    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef ><i>Delete</i></th>
      <td mat-cell *matCellDef="let element" class="ele" (click)="deleteGame(element)"><mat-icon>cloud_off</mat-icon></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-raised-button (click)="addNewGame()" class="add-button">
    Add Game
  </button>

</div>
